<div class="mt-4">
    <h3>Đăng kí khoá học</h3>
    <form action="/courses/store" method="POST">
        <div class="form-group mb-3">
            <label for="name">Tên khoá học</label>
            <input type="text" class="form-control" id="name" placeholder="" name="name">
        </div>
        <div class="form-group mb-3">
            <label for="description">Mô tả</label>
            <input type="text" class="form-control" id="description" placeholder="" name="description">
        </div>
        <div class="form-group mb-3">
            <label for="videoID">ID Video</label>
            <input type="text" class="form-control" id="videoID" placeholder="" name="videoID">
        </div>
        <div class="form-group mb-3">
            <label for="level">Trình độ</label>
            <input type="text" class="form-control" id="level" placeholder="" name="level">
        </div>
        <button type="submit" class="btn btn-primary">Thêm khoá học</button>
    </form>
</div>